<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.hatamiarash.yadfood">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BIND_SCREENING_SERVICE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="ir.hatamiarash.yadfood.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove"/>

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove"/>

    <permission
        android:name="ir.hatamiarash.yadfood.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-sdk
        tools:overrideLibrary="co.ronash.pushe"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="یاد فود"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"/>
        <activity android:name=".Activity_about"/>
        <activity android:name=".Activity_Profile"/>
        <activity android:name=".Activity_desc"/>
        <activity android:name=".Ontime"/>

       <!-- <service android:name=".Checker_service"/>-->

        <activity android:name=".Activity_mainmeno">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


        <service
            android:name=".Checker_service"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <receiver android:name=".Alarmm">
            <intent-filter>
                <action android:name="estoubem.START_ALARM"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data
                    android:path="ir.hatamiarash.yadfood"
                    android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="co.ronash.pushe.receiver.PusheGcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="ir.hatamiarash.yadfood"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_192137087735"/>
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="aHR0cDovLzJjNzBjZGM1N2VmNjQyMjk4NmY4NmMyNjJmNDAxZjM0OjczZTIxZjVhMDkyMzRjNjc5YWQzZWNmZTM5OGZmM2YxQGNhLnB1c2hlLmlyLzYzODE="/>

    </application>

</manifest>